/*Custom CSS*/

/*Imports*/

@import 'globals';
@import 'layout';
@import 'oldie';


$hallo: #989898;
$goodbey: #F0F0F0; 
$farewall: #C00000; 

body{
	background-color: LightSteelBlue;
}

h1{
	color: $farewall;
}



